@charset "utf-8";

@import "variable";

@import "reset";

@import "main";

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
@import "iphone";
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
@import "ipad";
}

@media all and (min-width: 1024px) and (min-device-aspect-ratio: 1/1) {
@import "desktop";
}